<!DOCTYPE html>
<html lang="en">
  <head>
		<meta charset="utf-8">
		<title>Cernusco a Domicilio</title>
		<meta name="description" content="Tutte le aziende che effettuano consegne a domicilio nel comune di Cernusco sul Naviglio">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta property="og:url" content="https://cernuscodomicilio.it">
		<meta property="og:type" content="website">
		<meta property="og:title" content="Cernusco a Domicilio">
		<meta property="og:description" content="Tutte le aziende che effettuano consegne a domicilio nel comune di Cernusco sul Naviglio">
		<meta property="og:image" content="/assets/og_cernuscodomicilio.png">
		<% preact.headEnd %>
	</head>
	<body>
		<% preact.bodyEnd %>
	</body>
</html>
