<!DOCTYPE html>
<html lang="it">
  <head>
		<meta charset="utf-8">
		<title>🚴 Salerno a Domicilio</title>
		<meta name="title" content="🚴‍♂️ Salerno a Domicilio">
		<meta name="description" content="Tutte le aziende che effettuano consegne a domicilio in provincia di Salerno">

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://ferraradomicilio.it/">
		<meta property="og:title" content="🚴‍♂️ Ferrara a Domicilio">
		<meta property="og:description" content="Tutte le aziende che effettuano consegne a domicilio in provincia di Salerno">
		<meta property="og:image" content="/assets/og_ferraradomicilio.png">

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image">
		<meta property="twitter:url" content="https://ferraradomicilio.it/">
		<meta property="twitter:title" content="🚴‍♂️ Ferrara a Domicilio">
		<meta property="twitter:description" content="Tutte le aziende che effettuano consegne a domicilio in provincia di Salerno">
		<meta property="twitter:image" content="/assets/og_ferraradomicilio.png">
		<meta name="description" content="Tutte le aziende che effettuano consegne a domicilio in provincia di Salerno">

		<link rel="apple-touch-icon" sizes="57x57" href="/assets/icons/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/assets/icons/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/assets/icons/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/assets/icons/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/assets/icons/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/assets/icons/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/assets/icons/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/assets/icons/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-icon-180x180.png">

		<link rel="icon" type="image/png" sizes="192x192"  href="/assets/icons/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/assets/icons/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
		
		<meta name="msapplication-TileImage" content="/assets/icons/ms-icon-144x144.png">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<% preact.headEnd %>
	</head>
	<body style="overflow: var(--popup-visible, initial);">
		<% preact.bodyEnd %>
	</body>
</html>
