@tailwind base;
@tailwind utilities;

:root {
	--bg: #ffffff;
	--gray-200: #f1f3f7;
	--gray-500: #bec8d4;
	--gray-700: #4a5568;
	--orange-300: #fbd38d;
	--green-300: #9ae6b4;
	--red-300: #e69a9a;
	--yellow-300: #faf089;
	--yellow-700: #b7791f;
	--blue-300: #90cdf4;
	--blue-500: #4299e1;
	--blue-700: #2b6cb0;
}

body {
	background-color: var(--bg);
}


.backdrop {
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	background-color: rgba(250, 250, 250, 0.8);
}

.new-entry::after {
	content: 'Nuovo';
	position: absolute;
	top: -11px;
	background-color: #4299e1;
	border: 1px solid #3782c0;
	text-transform: uppercase;
	font-size: 10px;
	color: #fff;
	padding: 2px 7px;
	border-radius: 20px;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg: #1a212d;
		--gray-200: #272f3d;
		--gray-500: #3b4455;
		--gray-700: #c5d6e2;
	}

	body {
		color: #d3d9e2;
	}

	.backdrop {
		background-color: rgba(26, 33, 45, 0.8);
	}
}